# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/license.txt
/readme.html
/xmlrpc.php

# Log files
*.log

# htaccess
/.htaccess
.DS_Store
.idea

/cache
/build


# TypeChain files
/typechain
/typechain-types

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
node_modules
.env

#Keep the empty pkeys folder
pkeys/*
!.gitkeep

.yarn
